.content {
  min-width: 375px;
  height: 100vh;
  flex-flow: column nowrap;
}

.content-image-desktop {
  display: none;
}

.text-content {
  margin: 40px 24px 0 24px;
}

.form-input,
.form-button,
.form-input-invalid {
  width: 327px;
}

.thanks-page {
  display: none;
  background-color: var(--highlight-color);
  color: var(--main-color);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.thanks-page-content {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  padding: 149px 24px 40px 24px;
}

.thanks-image {
  width: 64px;
  height: 64px;
  margin: 0 0 40px 0;
}

.thanks-button {
  margin-top: 263px;
}
