.content {
  min-width: 375px;
  height: 100vh;
  flex-flow: column nowrap;
}

.content-image-mobile {
  width: 100%;
}

.content-image-desktop {
  display: none;
}

.text-content {
  display: flex;
  margin: 40px auto;
  padding: 0 24px 0 24px;
  min-width: 375px;
}

.form {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
}

.form-input,
.form-button,
.form-input-invalid {
  min-width: 327px;
}

.thanks-page {
  display: none;
  background-color: var(--highlight-color);
  color: var(--main-color);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: center;
  padding: 149px 24px 40px 24px;
  height: 100vh;
}

.thanks-page-content {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  margin: 0 auto 0 auto;
  min-width: 327px;
}

.thanks-image {
  width: 64px;
  height: 64px;
  margin: 0 0 40px 0;
}

.thanks-button {
  margin-top: 263px;
}
