:root {
  --main-color: hsl(234, 29%, 20%);
  --highlight-color: hsl(0, 0%, 100%);
  --border-color: rgba(128, 128, 128, 0.25);
  --button-bg-color: hsl(234, 29%, 20%);
  --button-text-color: hsl(0, 0%, 100%);
  --button-hover-bg: var(
    --Gradient-1,
    linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%)
  );
  --button-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
  --invalid-input-bg: rgba(255, 97, 85, 0.15);
  --invalid-input-placeholder: var(--Vermellion, #ff6155);
  --label-text-color: var(--Vermellion, #ff6155);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background-color: var(--highlight-color);
  color: var(--main-color);
  font-weight: 400;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.text-content {
  display: flex;
  flex-flow: column nowrap;
}

.title {
  margin-bottom: 24px;
}

.list {
  list-style: none;
  margin-top: 24px;
}

.list-image {
  margin-right: 16px;
}

.list-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  margin: 40px 24px 0 0px;
}

.form-input {
  height: 56px;
  width: 376px;
  padding-left: 24px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.form-input:active {
  border: 1px solid var(--main-color);
}

.form-input::placeholder {
  color: var(--main-color);
  opacity: 50%;
  font-size: 16px;
  margin-bottom: 8px;
}

.form-input-invalid {
  height: 56px;
  padding-left: 24px;
  border-radius: 8px;
  border: 1px solid var(--invalid-input-placeholder);
  background-color: var(--invalid-input-bg);
}

.form-input-invalid::placeholder {
  color: var(--invalid-input-placeholder);
  opacity: 50%;
  font-size: 16px;
  margin-bottom: 8px;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-label {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 12px;
}

.input-label-invalid {
  display: none;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--invalid-input-placeholder);
}

.form-button {
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 40px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  height: 56px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  width: 376px;
}

.form-button:active {
  background: var(--button-hover-bg);
  box-shadow: var(--button-shadow);
}

.thanks-page {
  display: none;
  background-color: var(--highlight-color);
  color: var(--main-color);
  font-weight: 400;
  display: flex;
  font-family: "Roboto", sans-serif;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}  */
